@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/nullstyle";
@import "../../modules/navigation/navigation.scss";
@import "../../modules/section/section.scss";

.main {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}