html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
    background: #4e54c8;
    background: -webkit-linear-gradient(
      to right,
      #8f94fb,
      #4e54c8
    ); 
    background: linear-gradient(
      to right,
      #8f94fb,
      #4e54c8
    ); 
  }
  .quiz-container {
    text-shadow: 1px 1px white;
    padding: 3rem;
    text-shadow: 0 1px #00000010;
    width: 60%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #fff;
  }
  
  .question {
    margin: 2rem 0;
    font-size: 1.5rem;
  }
  .option {
    padding: 1rem;
    color: #00000095;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
  }
  .option:hover {
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  .option input:checked .option {
    background: #08038c;
    color: #000;
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .controls > * {
    margin: 1rem;
  }
  button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
  }
  .previous,
  .next {
    color: #29b406;
  }
  .previous {
    margin-right: 10px;
  }
  button.restart {
    background: #0cf574;
    color: #00000050;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
  }
  button.restart:hover {
    color: #00000098;
  }
  button:hover,
  button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
  .result {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
  }
  .final-score {
    color: #00000099;
  }
  .summary {
    font-size: 1rem;
    color: #00000099;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .summary h1 {
    align-self: center;
  }
  