
mixin li-navbar(id, name)
    li.navigation__li
        a.navigation__link(href= id)= name
    

nav.navigation
    header.navigation__header js конспекты
    ul.navigation__ul
        +li-navbar('#variables','Переменные')
        +li-navbar('#comment','Комментарии')
        +li-navbar('#dataTypes','Типы данных')
        +li-navbar('#assignValue','Присваивание значения')
        +li-navbar('#specialOperators','Специальные операторы')
        +li-navbar('#stringOperations','Начальные операции со строками')
        +li-navbar('#propertyLength','Свойство .length')
        +li-navbar('#dataSets','Массивы данных')
        +li-navbar('#multiArrays','Многомерные массивы')
        +li-navbar('#operationsArray','Простые операции с массивом')