doctype html
html(lang='en')
    head
        title Notes
    body
        include ../../modules/navigation/navigation.pug
        main.main
            include ../../modules/section/section.pug
            
            
            
        


    
        