//-null style

html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}
