// Fonts
$openSansBold           : 'Quicksand-Bold', 'Open Sans bold', sans-serif;
$openSansNorm           : 'Quicksand-Regular', 'Open Sans', sans-serif;
$montBold               : 'Montserrat-Bold', sans-serif;
$montNorm               : 'Montserrat-Regular', sans-serif;
$icons                  : 'Material Icons';
 
// Size
$desktopWidth           : 1280px;
$smDesktopWidth         : 980px;
$tableWidth             : 768px;
$phoneWidth             : 480px;
$smPhoneWidth           : 320px;
$h1FontSize             : 24px;
$h2FontSize             : 19px;
$h3FontSize             : 12px;
$mainFontSize           : 14px;

// Main color
$elementBack            : white;
$blockBack              : white;
$darkShade100           : #1F2041;
$darkShade75            : rgba(31, 32, 65, 0.75);
$darkShade50            : rgba(31, 32, 65, 0.5);
$darkShade25            : rgba(31, 32, 65, 0.25);
$darkShade5             : gba(31, 32, 65, 0.05);
$purpleFSD              : #BC9CFF;
$greenFSD               : #6FCF97;

// Gradient
$purpleGradient         : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);


